# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
# vendor/

# Output files
*.log
*.tar
*.gz
*.zip

# helm package
charts/**/*.tgz

# Local helper files
local_scripts.go